<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Song</title>
</head>
<body>
<h3>Song</h3>
<p>
    <a th:href="@{/song/create}" style="text-decoration: none">Add new Song</a>
</p>
<form action="#" th:action="@{/song/search}" method="get">
    <label>Name: </label>
    <input name="name">
    <button type="submit">search</button>
</form>

<div>
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>

<table border="1px">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Singer</th>
        <th>Kind Of Music</th>
        <th>Edit param</th>
        <th>Edit path variable</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song,rowstat : ${songList}">
        <td th:text="${song.id}"></td>
        <td th:text="${song.name}"></td>
        <td th:text="${song.singer}"></td>
        <td th:text="${song.typeOfMusic}"></td>
        <!--        request param-->
        <td><a th:href="@{/song/edit_param/(id = ${song.id})}">Edit</a></td>
        <!--         path variable-->
        <td><a th:href="@{/song/{id}/edit(id=${song.getId()})}">Edit</a></td>
        <td><a th:href="@{/song/{id}/delete(id=${song.getId()})}">Delete</a></td>
        <td><a th:href="@{/song/{id}/view(id=${song.getId()})}">View</a></td>
    </tr>
    </tbody>
</table>

<span>
    <a th:if="${songList.hasPrevious()}" th:href="@{/song/list(page = ${songList.number - 1})}">
        Previous
    </a>
     <span>
        <span th:each="pageNo: ${#numbers.sequence(0,songList.totalPages - 1)}">
            <a th:href="@{/song/list(page = ${pageNo})}" th:text="${pageNo}"></a>
        </span>
    </span>
     <a th:if="${songList.hasNext()}" th:href="@{/song/list(page = ${songList.number + 1})}">
        Next
    </a>

</span>

</body>
</html>