<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Detail</title>
    <style>
        span {
            display: inline-block;
            width: 200px;
            text-align: left;
        }
    </style>
</head>
<body>
<div align="center">
    <h1>Registration Success</h1>
    <span>ID:</span> <span th:text="${user.id}"></span> <br>
    <span>First Name:</span> <span th:text="${user.firstName}"></span> <br>
    <span>Last Name:</span> <span th:text="${user.lastName}"></span> <br>
    <span>Age:</span> <span th:text="${user.age}"></span> <br>
    <span>Phone:</span> <span th:text="${user.phoneNumber}"></span> <br>
    <span>Email:</span> <span th:text="${user.email}"></span> <br>
</div>
</body>
</html>